// 颜色定义规范
$color-background = white
$color-background-d = rgba(0, 0, 0, 0.3)
$color-background-dd = #f3f5f7
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #333333
$color-theme-d = #22d59c
$color-text = #333333   
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-dd= red
$color-text-l = #666666
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-text-lll = rgba(0, 0, 0, 0.4)
$color-dot=rgba(255,255,255,0.15)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px